
html
{
    position: relative;
    min-height: 100%;
}

body
{
    background-image: url(/images/batthern.png);
    background-position: center;
    background-size: 150px;
    font-family: "Lucida Grande",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

div.inner
{
    background-color: rgba(250, 250, 250, 0.75);
    width: 100%;
    height: 100%;
}

a
{
    color: #C321F3;
    text-decoration: none;
}

a:hover, a:focus
{
    outline: none;
    text-decoration: none;
}

h1
{
    font-size: 42px;
    letter-spacing: -1px;
    margin-top: 42px;
    padding-bottom: 8px;
    text-shadow: 1px 1px 1px #520E64;
}

h2
{
    font-size: 40px;
    letter-spacing: -1px;
    margin-top: 40px;
}

h3
{
    font-size: 34px;
    letter-spacing: -1px;
    margin-top: 34px;
}

h4
{
    font-size: 28px;
    letter-spacing: -1px;
    margin-top: 28px;
}

h6
{
    color: #156312;
    font-size: 18px;
    margin-bottom: 9px;
    margin-top: 18px;
}

img.logo
{
    width: 320px;
}

.tagline
{
    font-size: 120%;
    font-weight: bold;
}

.btn
{
    border: none;
}

.btn-default
{
    background-color: #666;
    background-image: none;
    color: white;
    margin: 4px 8px;
}

.btn-primary
{
    background-color: #333;
    background-image: none;
    color: white;
    margin: 4px 8px;
}

.btn-success
{
    background-color: #156312;
    background-image: none;
    color: white;
    margin: 4px 8px;
}

.btn-default:hover,
.btn-primary:hover,
.btn-success:hover
{
    background-color: #C321F3;
    color: white;
}

footer
{
    height: 60px;
}

footer .container-fluid
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #EEE;
    padding: 18px 0;
    font-size: 15px;
    text-align: center;
    opacity: 0.6;
    transition: opacity .2s ease;
}

footer .container-fluid:hover
{
    opacity: 1.0;
    transition: opacity .2s ease;
}

footer .container-fluid a
{
    color: #156312;
}

footer .container-fluid a:hover,
footer .container-fluid a:focus
{
    color: #C321F3;
}

footer .container-fluid p
{
    margin: 0;
}

footer .container-fluid p > span
{
    margin: 0 6px;
}

pre
{
    background-color: rgba(238, 238, 238, 0.7);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(238, 238, 238, 0.7);
    font-size: 14px;
    margin: 15px;
    padding: 0 6px;
}

code
{
    background-color: transparent;
    color: #851E8F;
    font-family: Monaco,Consolas,"Courier New",monospace;
    font-size: 90%;
    padding: 2px 2px;
}

pre code
{
    border: none;
    white-space: pre;
}

@media (max-width: 640px)
{
    img.logo
    {
        width: 280px;
    }

    .tagline
    {
        font-size: 110%;
    }
}
