﻿/*

Dark style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs
{
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    -webkit-text-size-adjust: none;
}

code.language-yaml, code.language-yaml *
{
    color: #156312;
    font-weight: normal;
}

.hljs-keyword,
.hljs-literal,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special
{
    color: green;
}

.hljs,
.hljs-subst
{
}


.hljs-built_in { color: #1C8596; }

.hljs-attr_selector { color: #C66818; }

.hljs-attribute { color: #C66818; }

.hljs-string { color: #CC0000; }

.hljs-title  { color: green; }

.hljs-value { color: #C66818; }

.hljs-tag .hljs-value { color: black; }

.hljs-type,
.ini .hljs-title,
.hljs-preprocessor,
.hljs-pragma,
.ruby .hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.ruby .hljs-class .hljs-parent,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.hljs-javadoc,
.ruby .hljs-string,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.tex .hljs-command,
.hljs-prompt
{
    color: #d88;
}

.hljs-comment,
.hljs-annotation,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.tex .hljs-formula
{
    color: #777;
}

.hljs-keyword,
.hljs-literal,
.hljs-title,
.hljs-phpdoc,
.hljs-dartdoc,
.hljs-type,
.vbscript .hljs-built_in,
.rsl .hljs-built_in,
.smalltalk .hljs-class,
.diff .hljs-header,
.hljs-chunk,
.hljs-winutils,
.bash .hljs-variable,
.tex .hljs-special,
.hljs-request,
.hljs-status
{
    font-weight: bold;
}
