
pre, pre code
{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.jumbotron
{
    background-color: rgba(0, 0, 0, 0);
}

.intro .title
{
    text-align: center;
    padding: 12px 0;
}

.intro .badges
{
    padding: 6px 0;
}

.intro .badges img
{
    height: 20px;
}

.intro .quickie
{
    padding: 20px 0;
}

.intro .quickie .content
{
    font-size: 20px;
    padding: 12px 0;
}

.intro .quickie pre
{
    font-size: 14.5px;
    margin-top: -8px;
}

.intro .links
{
    padding: 20px 0;
}

.jumbotron.features
{
    background-color: #C321F3;
    color: white;
    font-size: 18px;
    text-align: center;
}

.jumbotron .list-group-item
{
    background-color: transparent;
    border: none;
}

.jumbotron .header
{
    font-size: 250%;
    font-weight: bold;
    margin-bottom: 18px;
    text-shadow: 1px 1px 2px #000;
}

.jumbotron.getitnow p > span
{
    display: block;
    font-weight: bold;
    padding: 24px 0 12px 0;
}

.jumbotron.getitnow .files > a
{
    margin: 0 6px;
}

footer
{
    margin-top: -30px;
}
