@media (min-width: 1200px)
{
    .container
    {
        width: 970px;
    }
}

main
{
    padding-top: 10px;
}

.logo
{
    margin-bottom: 24px;
}

.logo img
{
    width: 184px;
}

section
{
    margin-bottom: 80px;
}

section h1:first-child
{
    margin-top: 10px;
}

blockquote
{
    font-size: 90%;
}

blockquote > p > strong:first-child
{
    border: 1px solid #156312;
    background-color: #EEE;
    border-radius: 6px;
    padding: 2px 8px;
    letter-spacing: 2px;
}

li
{
    margin-bottom: 3px;
}

#content li:last-child
{
    margin-bottom: 24px;
}

@media (min-width: 768px)
{
    #sidebar
    {
        position: fixed;
        margin-top: 30px;
    }
}

@media (max-width: 960px)
{
    body
    {
        font-size: 16px;
    }
    pre
    {
        font-size: 12px;
    }
}

.nav-pills ul
{
    list-style: outside none none;
}

.nav-pills li > a
{
    display: block;
    border-radius: 3px;
    padding: 6px 12px;
    position: relative;
}

.nav-pills li.playground > a
{
    color: #156312;
}

.nav-pills li > a:hover,
.nav-pills li > a:focus
{
    background-color: #C321F3;
    color: white;
    text-decoration: none;
}

.nav-pills li.playground > a:hover,
.nav-pills li.playground > a:focus
{
    background-color: #156312;
}

.nav-pills li.active > a,
.nav-pills li.active > a:hover,
.nav-pills li.active > a:focus
{
    color: white;
    background-color: black;
}

.nav-stacked li
{
    margin-top: 3px;
}

#sidebar
{
    margin-top: 10px;
}

#sidebar .text-muted
{
    color: #bbbbbb;
}

.page-header
{
    padding-bottom: 8px;
    border-bottom: 2px solid #EEE;
}
