
header
{
    background-color: #EEE;
    border-bottom: 2px solid #999;
    left: 0;
    padding: 6px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header .actions
{
    text-align: center;
    width: 100%;
}

header .actions .btn
{
    border-radius: 6px;
    margin: 2px;
    text-transform: none;
    width: 90px;
}

.playground
{
    padding-top: 84px;
}

@media (max-width: 640px)
{
    .playground
    {
        padding-top: 108px;
    }
}

textarea.form-control,
.form-control[type="text"],
textarea.form-control:focus,
.form-control[type="text"]:focus
{
    border: none;
    box-shadow: none;
    overflow: auto;
    padding: 4px 12px;
    white-space: pre;
}

textarea.form-control
{
    font-family: Monaco, Consolas, "Courier New", monospace;
    line-height: 1.2;
    resize: vertical;
}

.area-intro
{
    border-bottom: 1px dotted #999;
    color: black;
    margin-top: 12px;
    text-align: center;
}

.panel
{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.panel .panel-body
{
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 0;
    box-shadow: 0px 0px 4px #000 inset;
}

.panel-body p.small
{
    font-size: 88%;
}

.panel.panel-multi .panel-body
{
    border: 1px solid #DDD;
    padding: 2px 12px;
}

.panel-default > .panel-heading,
.panel-default > .panel-footer
{
    background-color: #CCC;
    cursor: pointer;
}

.panel-default:hover > .panel-heading,
.panel-default:hover > .panel-footer
{
    background-color: #C321F3;
    border-color: white;
    color: white;
}

.panel-default > .panel-heading
{
    border-bottom: 1px dotted transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    padding: 8px 12px 1px 12px;
}

.panel-default > .panel-footer
{
    border-top: 1px dotted transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1px 12px 8px 12px;
}

.panel-default > .panel-footer input
{
    vertical-align: top;
}

span.error
{
    color: red;
}

#results
{
   overflow-x: auto;
}

#results section
{
    margin: 8px 0;
}

#results .head
{
    background-color: #EEE;
    cursor: pointer;
    font-size: 92%;
    font-weight: bold;
    padding: 6px;
}

#results .head:hover
{
    color: #C321F3;
}

#results code
{
    white-space: pre;
}

#results #log_messages
{
    font-family: Monaco, Consolas, "Courier New", monospace;
}

#preset_list li
{
    cursor: pointer;
}

#preset_list li:hover
{
    background-color: #C321F3;
    color: white;
}
