<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Straints | Documentation</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/highlight.dark.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//yastatic.net/highlightjs/8.2/highlight.min.js"></script>

    <script>
      $(function() { hljs.initHighlightingOnLoad(); });
    </script>
  </head>
  <body>
    <div class="inner">

      <main class="container-fluid">
        <div class="row">

          <nav id="sidebar" class="col-sm-3 col-lg-2" role="navigation">
            <div class="logo">
              <a href="/index.html">
                <img src="/images/straints-logo.png" />
              </a>
            </div>
            <ul class="nav nav-pills nav-stacked">
              {% for itemId, item in menu %}
                <li class="{{ itemId }} {{ itemId == currentMenu ? 'active' }}">
                  <a href="{{ item.relativeUrl }}">{{ item.text|raw }}</a>
                  {% if item.menu %}
                    <ul>
                      {% for subId, sub in item.menu %}
                        <li class="{{ "#{itemId}-#{subId}" }} {{ "#{itemId}.#{subId}" == currentMenu ? 'active' }}">
                          <a href="{{ sub.relativeUrl }}">{{ sub.text|raw }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </nav>

          <section id="content" class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
            {{ content|raw }}
          </section>

        </div>
      </main>

      <footer>
        <div class="container-fluid">
          <p class="text-muted">
            <span>
              <a href="https://bitbucket.org/captison/straints.git" title="repository">repo</a>
            </span>
            <span>
              <a href="https://bitbucket.org/captison/straints/src/master/CHANGELOG.md" title="changelog">changelog</a>
            </span>
            <span>
              <a href="https://bitbucket.org/captison/straints/issues" title="feedback">feedback</a>
            </span>
            <span>
              <a href="https://www.npmjs.com/package/alyze" title="validator">alyze</a>
            </span>
            <span>
              <a href="http://couscous.io" title="markdown website generator">couscous</a>
            </span>
            <span>
              &copy; 2017 <a href="http://captison.com" title="straints author">Captison</a>
            </span>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
